@charset "utf-8";
@import url("framework.css");


#header{
	border-bottom:1px solid;
}

#header #logo{
	margin:22px 0 0 0;
}
#header #logo h1{
	margin:0; 
	padding:0; 
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:2rem; 
	font-variant:small-caps;
}

#pageintro{
	padding:200px 0;
}

#pageintro article{
	display:block; 
	max-width:60%; 
	margin:0 auto; 
	text-transform:capitalize; 
	text-align:center;
}

#pageintro article p:first-of-type{
	margin:0 0 30px 0; 
	padding:0; 
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:2rem;
}
#pageintro .heading{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:5rem;
}
#pageintro footer{
	margin-top:50px;
}
#pageintro footer .btn{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding:14px 25px 16px; 
	font-size:1.2rem;
}

.container{
	padding:80px 0;
}

.sectiontitle{
	display:block; 
	max-width:55%; 
	margin:0 auto 80px; 
	text-align:center;
}
.sectiontitle *{
	margin:0;
}

#services li{
	margin-bottom:50px;
}
#services li:nth-last-child(-n+4){
	margin-bottom:0;
}
#services li:nth-child(4n+1){
	margin-left:0; 
	clear:left;
}
#services article{
	display:block; 
	padding:30px 15px; 
	text-align:center;
}

#services article i{
	margin-bottom:30px;
}

#services article p{
	margin-bottom:30px;
}
.points{
	padding:50px; 
	border-radius:50px 0;
}
.points ul{
	padding-top:15px;
}
.points li{
	position:relative; 
	min-height:60px; 
	margin:0 0 30px 0; 
	padding:5px 0 0 80px; 
	line-height:1;
}
.points li:last-child{
	margin:0;
}
.points li i{
	position:absolute; 
	top:0; left:0; 
	width:60px; 
	height:60px; 
	line-height:60px; 
	font-size:20px; 
	text-align:center; 
	border-radius:50%;
}
.points li .heading{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: 0 0 10px 0;
}
.points li p{
	margin:0; 
	line-height:1.4rem;
}
#footer{
	padding:80px 0 50px;
}
#footer .heading{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom:50px; 
	font-size:1.2rem;
}
#footer p + .faico{
	margin-top:30px;
}

#footer input, #footer button{
	border:1px solid;
}
#footer input{
	display:block; 
	width:100%; 
	padding:12px 15px;
}
#footer button{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding:10px 15px 12px; 
	font-size:1rem;
}

#footer nav{
	display:block; 
	text-align:center; 
	text-transform:uppercase;
}
#footer nav li{
	display:inline; 
	margin-right:20px;
}
#footer nav li:last-child{
	margin-right:0;
}

#copyright{
	padding:50px 0 80px; 
	border-top:1px solid;
	margin:0; 
	padding:0;
}

.btn{
	border-radius:14px;
}
#footer input, #footer button{
	border-radius:12px;
}

nav ul, nav ol{
	margin:0; 
	padding:0; 
	list-style:none;
}


#mainav ul{
	text-transform:uppercase;
}
#mainav li{
	display:inline-block; 
	position:relative; 
	margin:0 15px 0 0; 
	padding:0;
}
#mainav li:last-child{
	margin-right:0;
}
#mainav li a{
	display:block; 
	padding:30px 0;
}
#mainav form{
	display:none; 
	width:100%; 
	margin:0; 
	padding:0;
}

#breadcrumb{
	padding:150px 0 30px; 
	text-align:right;
}
#breadcrumb ul{
	margin:0; 
	padding:0; 
	list-style:none; 
	text-transform:uppercase;
}
#breadcrumb li{
	display:inline-block; 
	margin:0 6px 0 0; 
	padding:0;
}
#breadcrumb li a{
	display:block; 
	position:relative; 
	margin:0; 
	padding:0 12px 0 0; 
	font-size:12px;
}
#breadcrumb li a::after{
	top:4px; 
	right:0; 
	content:"\f0da";
}
#breadcrumb li:last-child a{
	margin:0; 
	padding:0;
}
#breadcrumb li:last-child a::after{
	display:none;
}
#breadcrumb .heading{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin:0; 
	font-size:2rem;
}
#gallery{
	display:block; 
	width:100%; 
	margin-bottom:50px;
}
#gallery li{
	margin-bottom:30px;
}

.fl_left, .imgl{
	float:left;
}
.fl_right, .imgr{
	float:right;
}

img{
	width:auto; 
	max-width:100%; height:auto; 
	margin:0; 
	padding:0; 
	border:none; 
	line-height:normal; 
	vertical-align:middle;
}
.imgl{
	margin:0 15px 10px 0; 
	clear:left;
}
.imgr{
	margin:0 0 10px 15px;
	clear:right;
}
.imgover{
	display:inline-block; 
	position:relative;
	max-width:100%;
}
.imgover::before, .imgover::after{
	display:block; 
	position:absolute;  
	text-align:center; 
	opacity:0;
}
.imgover::before{top:0; right:0; bottom:0; left:0;}
.imgover::after{top:50%; left:50%; width:50px; height:50px; line-height:50px; margin:-25px 0 0 -25px; font-family:"Font Awesome 5 Free"; font-weight:900; content:"\f067";/* fa-plus */ font-size:28px;}
.imgover:hover::before, .imgover:hover::after{opacity:1;}
body{
	color:#A8A8A8; 
	background-color:#202020;
}
a{
	color:white;
}
a:active, a:focus{
	background:transparent;
}
hr, .borderedbox{
	border-color:#D7D7D7;
}
label span{
	color:#FF0000; 
	background-color:inherit;
}
input:focus, textarea:focus, *:required:focus{
	border-color:white;
}

.overlay{
	color:#FFFFFF; 
	background-color:inherit;
}
.overlay::after{
	color:inherit; 
	background-color:rgba(0,0,0,.55);
}
.overlay.light{
	color:#474747;
}
.overlay.light::after{
	background-color:rgba(255,255,255,.7);
}

.btn, .btn.inverse:hover{
	color: white;
	background-color: grey; 
	border-color: grey;
}
.imgover:hover::before{
	background-color: grey;
}
.imgover, .imgover:hover::after{
	color:#FFFFFF;
}
.intro a{
	color: #474747;
}
#header{
	border-color:rgba(255,255,255,.1);
}
#header #logo a{
	color:inherit;
}
#pageintro{
	color:#FFFFFF;
}
#services article{
	color:#474747; 
	background-color:#FFFFFF; 
	box-shadow:0px 0px 10px rgba(0,0,0,.1);
}
.points{
	color:#474747; 
	background-color:#FFFFFF;
}
.points li a i{
	color:inherit; 
	background-color:rgba(130,139,244,.1);
}
.points li:hover a i{
	color:#FFFFFF; 
	background-color: white;
}
#footer .heading{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:#FFFFFF;
}
#footer hr, #footer .borderedbox, #footer .linklist li{
	border-color:rgba(255,255,255,.1);
}

#footer input, #footer button{
	border-color:transparent;
}
#footer input{
	color:#FFFFFF; 
	background-color:rgba(255,255,255,.2);
}
#footer input:focus{
	background-color: white
}
#footer button{
	color:#FFFFFF; 
	background-color: white
}
#footer button:hover{color:inherit; 
	background-color:transparent; 
	border-color:inherit;
}
#copyright{
	border-color: black;
}
.faicon-facebook:hover{
	background-color:#3B5998;
}
.faicon-google-plus:hover{
	background-color:#DB4A39
	;
}
.faicon-linkedin:hover{
	background-color:#0E76A8;
}
#mainav li a{
	color:inherit;
}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{
	color:white; 
	background-color:inherit;
}
#mainav li li a, #mainav .active li a{
	color:#202020; 
	background-color:white; 
	border-color:white;
}
#mainav li li:hover > a, #mainav .active .active > a{
	color:white; 
	background-color:white;
}
#breadcrumb {
	color:#FFFFFF; 
	background-color:inherit;
}
#breadcrumb li:last-child a{
	color:white;
}
#backtotop{
	color:#FFFFFF; 
	background-color:white;
}
@-ms-viewport{width:device-width;}

@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}

@media screen and (max-width:978px){
	.hoc{
		max-width:90%;
	}

	#header{
		padding:30px 0;
	}
	#header #logo{
		margin-top:0;
	}
	#mainav ul{
		display:none;
	}
	#comments input[type="reset"]{
		margin-top:10px;
	}
	.pagination li{
		display:inline-block; 
		margin:0 5px 5px 0;
	}
	#copyright p:first-of-type{
		margin-bottom:10px;
	}
}

@media screen and (max-width:750px){
	.imgl, .imgr{
		display:inline-block;
		float:none; 
		margin:0 0 10px 0;
	}
	.fl_left, .fl_right{
		display:block; 
		float:none;
	}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{
		display:block; 
		float:none; 
		width:auto; 
		margin:0 0 30px 0;
	}
	#topbar, #header{
		text-align:center;
	}
	#header #logo{
		margin:0 0 15px 0;
	}
	#breadcrumb{
		text-align:left;
	}
	#pageintro article{
		max-width:none;
	}
	#pageintro .heading{
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		margin-bottom:20px; 
		font-size:2.5rem;
	}
	.sectiontitle{
		max-width:none;
	}
	.sd-third > li{
		max-width:348px;
	}
	#services li:nth-last-child(-n+4){
		margin-bottom:50px;
	}
	#services li:last-child{
		margin-bottom:0;
	}
	.points ul{
		padding-top:0;
	}
	#footer .latestimg > li, #footer .latestimg > li:nth-last-child(-n+3){
		display:inline-block; 
		float:none; 
		width:auto; 
		margin:0 5% 5% 0;
	}
	#footer .latestimg > li:last-child{
		margin-bottom:0;
	}
	#footer .latestimg > li img{
		width:auto;
	}
	
}

@media screen and (max-width:450px){
	.points{
		padding:35px 25px; 
		border-radius:25px 0;
	}
	.points li{
		padding:0;
	}
	.points li i{
		position:relative; 
		top:inherit; 
		left:inherit; 
		margin-bottom:20px;
	}
}
@media screen and (max-width:650px){
	.scrollable{
		display:block; 
		width:100%; 
		margin:0 0 30px 0;
		padding:0 0 15px 0; 
		overflow:auto; 
		overflow-x:scroll;
		}
	.inline li{
		display:block; 
		margin-bottom:10px;
	}
	.pushright li{
		margin-right:0;
	}
	.font-xs{
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-size:.8rem;
	}
	.font-x1{
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-size:1.2rem;
	}
	
	.font-x2{
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-size:1.6rem;
	}
	.font-x3{
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-size:1.8rem;
	}
	body, input, textarea, select{
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
	}
	h1, h2, h3, h4, h5, h6, .heading{
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
	}
	
}
